<section class="contact-boxes">
  <div class="box-socials">
    <h1>Redes Sociais</h1>
    <div class="box1">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem veniam suscipit fugiat cum soluta dolorem quibusdam, molestiae et rerum, consectetur iusto corrupti quam amet nobis reiciendis, est dolor. Vero, explicabo?</p>
    </div>
  </div>
  <div class="box-contacts">
    <h1>Entre em contato</h1>
    <div class="box2">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui delectus at inventore officia soluta eaque ducimus magni omnis cum illo earum sed fugiat debitis accusantium nam, molestiae totam incidunt id.</p>
    </div>
  </div>
</section>
