<div class="angular-content">
  <h2>Sobre mim</h2>
  <div class="angular-container">
    <p>
      Atualmente estou cursando Análise e Desenvolvimento de Sistemas na Gran
      Faculdade. Tenho um grande interesse em aprimorar minhas habilidades
      técnicas e crescer como profissional. Atualmente, trabalho como
      Desenvolvedor Web Full Stack Júnior, desenvolvendo principalmente com
      Laravel (PHP). Também realizo projetos freelancers em Angular Front-End e
      estou trabalhando para expandir meus conhecimentos em Angular e
      TypeScript.
    </p>
  </div>
</div>
