<section class="content">
  <div class="img-container"><img src="assets/1696636178024.jpg" alt=""></div>
  <div class="text-content">
    <h2>Olá, me chamo</h2>
    <h1>Yohann Matana</h1>
    <h3>Desenvolvedor FrontEnd Angular </h3>
    <p> - +1 ano de xp pratica</p>
    <p> - expertise em versionamento (github/gitlab)</p>
    <p> - Graduado em Analise e Desenvolvimento de Sistemas pela Gran Faculdade</p>
    <p> - Foco em JavaScript, TypeScript e Angular</p>
    <h4> Focado em evoluir um pouco a cada dia</h4>
  </div>
</section>
